p#pogrubienie_narkiewicz
{
font-size:35px;
color:#955ad4;
font-weight: bold;
}
p#pochylona_narkiewicz
{
font-size:40pt;
color:#f9be70;
font-style: italic;
}	
p#index_gorny_narkiewicz
{
font-size:1.5cm;
color:#a98c20;
vertical-align: super;
}
p#index_dolny_narkiewicz
{
font-size:2.5cm;
color:rgb(27%,94%,91%);
vertical-align: sub;
}
p#mono_narkiewicz
{
font-size:45px;
color:#29dc70;
font-family:'Courier New', Courier, monospace;
}
p#powiekszenie_narkiewicz
{
color:#633ca2;
}
p#pomniejszenie_narkiewicz
{
color:rgb(78%,63%,24%);
}
