  h3 {
      width: 200pt;
      height: 2.2cm;
      background: rgb(255,200,100); /* odcień pomarańczowego */
      border: 3px double black;
      border-style: inset;
      margin-left: 600px;
    }
